body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    background-color: gold;
   width: 50%;
   display: flex;
    flex-direction: column;
    align-items: center;
}

.arco {
    width: 50%;
    height: 50%;
    border: solid;
    
}

.cor {
    background-color: red;
    
}

.cor2 {
    background-color: orange;
    
}
.cor3 {
    background-color:yellow ;
    

}
.cor4 {
    background-color: green;
    
}
.cor5 {
    background-color: aqua;
    
}

.cor6 {
    background-color: blue;
    
}
.cor7 {
    background-color: blueviolet;
    
}

.centro {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}